body {
    background: rgb(172, 167, 167);
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif
  }

header {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif
      
}

#picture {
    float: left
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;     
}

img {
    size-adjust: 20px;
    text-align: center;
    padding: 30px;
    border: 50px black;
 
}

.info {
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    text-align: left;
   
    
}

